<manifest xmlns:android="http://schemas.android.com/apk/res/android"

          package="com.shirlyadam.animation"
    >

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        >

        <activity
            android:name=".wechat.BottomToTopActivity"
            android:theme="@style/BottomToTopTheme"
            />

    </application>

</manifest>
